<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 class="title">Contato</h1>
    <div>
        <form action="/contato" method="post">
            <div>
                <label for="name">Informe o seu nome:</label>
                <input type="text" name="name" id="name" required>
            </div>
            <div>
                <label for="email">Informe o seu email:</label>
                <input type="text" name="email" id="email" required>
            </div>
            <div>
                 <label for="assunto">Assunto:</label>
                <input type="text" name="assunto" id="assunto" required>
            </div>
            <div>
                <label for="mensagem">Mensagem</label>
                <textarea name="mensagem" id="mensagem" required></textarea>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <a href="/">Início</a>
</body>
</html>