<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBurger</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/hamburger.svg" type="image/x-icon">
</head>
<body>
    <img src="/images/hamburger.svg" alt="logo DevBurger" class="logo">
    <h1 class="title">DevBurger</h1>
    <div>
        <form action="/sugestao" method="get">
            <div>
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" required>
            </div>
            <div>
                <label for="ingredientes">Ingrediente</label>
                <input type="text" name="ingredientes" id="ingredientes" required>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <div class="div-a">
        <a href="/contato">Contato</a>
    </div>
    <div class="div-a">
        <a href="/api/lanches">API Simulada</a>
    </div>
</body>
</html>