<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBurger</title>
</head>
<body>
    <h1 class="title">DevBurger</h1>
    <div class="div-form">
        <form action="/sugestao" method="post">
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name" required>
            <label for="ingrediente">Ingrediente</label>
            <input type="text" name="ingrediente" id="ingrediente" required>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <div>
        <a href="./contato.html">Contato</a>
    </div>
    <div>
        <a href="">API Simulada</a>
    </div>
</body>
</html>